$bg-color: rgba(0, 255, 255, 0.568);
$column-bg: rgba(210, 210, 210, 0.47);
$card-bg: rgba(255, 255, 255, 0.842);
$tag-color:white;
$tagfront-bg: rgb(0, 255, 8);
$tagback-bg: red;
$tagcross-bg: red;
$tagdevice-bg: yellow;
$taghover-color: black;
$tagcrosshover-bg: black; 
$cardhover-bg: rgba(0, 0, 255, 0.366);
$taghover-bg: rgba(0, 0, 255, 0.2);
$text-color: white;